{% extends 'default/layout/base.Twig' %}

{% block content %}
	<div class="is-centered ">
		<div class="flex flex-col ">
			{% for memo in memos %}
				{% include 'default/component/memo.Twig' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block afterScript %}
	<script>
      $(function () {

          $(document.body).on('click', function (event) {
              const $target = $(event.target); // 获取被点击的元素
							const $trigger = $($target.closest('[data-trigger]'))
		          const $triggerItem = $($target.closest('[data-trigger-item]'))
              if ($trigger.length > 0) {
                  $("div[data-trigger-item]").hide()
                  $($trigger).next().toggle()
              }else if ($triggerItem.length > 0) {
                  $($triggerItem).hide();
              }else{
                  $("div[data-trigger-item]").hide()
              }
          })
      })
	</script>
{% endblock %}