{% extends 'default/layout/base.Twig' %}

{% block title %} {{sysConfig.website_title}} {% endblock %}
{% block content %}
	<div class="is-centered ">
		<div class="flex flex-col divide-y divide-[#C0BEBF]/10 divide-solid">
			{% for memo in memos %}
				{% include 'default/component/memo.Twig' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block afterScript %}
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
{#	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css"/>#}
	<script src="/js/main.js">
	</script>
{% endblock %}