<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %} {% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{{ sysConfig.favicon }}">
	<script src="https://cdn.mblog.club/mm/unocss.min.js"></script>
	<link rel="stylesheet" href="/css/bulma.min.css">
	<script src="https://cdn.mblog.club/mm/jquery.min.js"></script>
	<script src="https://cdn.mblog.club/mm/jquery.form.min.js"></script>
	{% include 'default/layout/header.Twig' %}
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/md.css">
	{% block beforeScript %} {% endblock %}
	{% if currentUser and currentUser.config.css %}
		<style>
			{{ currentUser.config.css }}
		</style>
	{% endif %}
</head>
<body class=" flex-1 h-full bg-[#f1f5f9] dark:bg-slate-800 rounded-md dark:text-[#C0BEBF] flex flex-col">
<div class="lg:w-[567px] mx-auto shadow-2xl bg-white dark:bg-[#181818] flex-1" un-cloak>
	{% if currentUser and currentUser.config.selfHomePage == "on" and path == '/' %}
	{% else %}
		{% include 'default/layout/nav.Twig' %}
	{% endif %}


	{% block content %} {% endblock %}

	{% include 'default/layout/footer.Twig' %}

</div>
{% block afterScript %} {% endblock %}
{% if currentUser and currentUser.config.js %}
	<script>
		{{ currentUser.config.js|raw }}
	</script>
{% endif %}
</body>
</html>